
.header-tile{
    font-size: 12px;
    font-family: 'Tilt Prism', cursive;
    font-size: 20px;
    color: red;
    font-weight: 600;
}



/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Cinzel', serif;
font-family: 'Lobster', cursive;
font-family: 'Tilt Prism', cursive;
font-family: 'Tinos', serif;  
*/
