*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Cinzel', serif;
font-family: 'Lobster', cursive;
font-family: 'Tilt Prism', cursive;
font-family: 'Tinos', serif; 

*/